.users {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

}

.usersBlock {
    background: #f4f2f2;
    border: 1px solid #ede9e9;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.pageNumber{
    width: 100vw;

}