.navigator {
    position: absolute;
    top: 40px;
    left: 15px;
    background: #fdfdfd;
    border: 1px solid #ede9e9;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    min-width: 17rem;
    width: 17rem;
    height: 50vh;
    min-height: 380px;
    transition: all 0.4s;
}

.active {
    margin-left: -17rem;
}

.friendsName {
    display: flex;
    justify-content: space-between;
}

.activeButton {
    color: #007bff;
}

@media (max-width: 768px) {
    .navigator {
        margin-left: -18rem;
    }

    .active {
        margin-left: 0;
    }

}

