.contacts {
    align-self: flex-end;
    padding: 5px;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 5px;
    background: #fdfdfd;
}

.information {
    border-radius:  5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 5px;
    background: #fdfdfd;
}

.info {
    font-size: 15px;
    font-weight: 500;
    color: #424242;
}

.field {
    padding: 15px;
}

.socials{
    padding: 15px;
}
