.wrapper {
    position: absolute;
    background: #f4f2f2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login{
    margin-right: auto;
    margin-left: auto;
    margin-top: calc(50vh - 200px);
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    background: #fdfdfd;
}